
# macOS
.DS_Store
.AppleDouble
.LSOverride

# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Python tooling
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# IDEs / Editors
.vscode/
.idea/

# OS / temp files
*.swp
*.swo
*~
